@font-face {
	font-family: Quicksand;

	src: url("../fonts/quicksand/Quicksand-Regular.ttf");
	src: url("../fonts/quicksand/Quicksand-Regular.ttf") format("ttf");
	src: url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
}

* {
	font-family: Quicksand;
}

.brand-logo img {
	height: 30px;
}

ul li a.active {
	background: #fd0798;
}

ul li a.active:hover {
	background: #00aeef;
}

.btn {
	border: 1px solid transparent;
}

.btn {
	border: 1px 100%;
}

.slider .slides {
	background-color: transparent;
	margin: 0;
}

.slider .slides li img {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.slider h3,
.slider h5,
.clients h3 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.6 !important;
}

.partners img {
	max-width: 200px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

section,
footer {
	padding: 10px 0;
}
